<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Component | Parallax Scrolling | Home</title>
<link rel="stylesheet" href="styles/style.css"> 
</head>
<body>

    <div class="bgimg-1">
        <div class="caption">
        <span class="border">Scroll Down to see what FastBizz can do for you</span>
        </div>
      </div>
      
      <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
        <h3 style="text-align:center;">FastBizz</h3>
        <p>FastBizz help you start your own business. Our customers are people who are or want to be digital producers. There are many people offering their knowledge freely in the Internet. Why not transforming knowledge and skills in a profitable activity?</p>
      </div>
      
      <div class="bgimg-2">
        <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">WHERE TO START</span>
        </div>
      </div>
      
      <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
        <p>Sign up in our platform to see the things that you will do to setup a product and to put it up for sale.</p>
        </div>
      </div>
      
      <div class="bgimg-3">
        <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">HOW ABOUT THE COSTS</span>
        </div>
      </div>
      
      <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
        <p>With us, you do not have fixed costs. We charge a fee for using our platform that you only pay when you make sales.</p>
        </div>
      </div>
      
      <div class="bgimg-1">
        <div class="caption">
        <span class="border">COOL! Let's start!</span>
        </div>
      </div>
      

</body>
</html>